<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml" xmlns:sec="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />
</head>
<body>
	<div th:replace="adminHome :: navbarAdmin"> </div>
	<div class="container page-content ">
		<div class="shadow-lg p-4 mb-5 bg-white rounded">
			<div class="row text-center">
				<div class="col-sm-12">
					<h1 >管理者棚卸ページ</h1>
				</div>
			</div>
			<div class="row text-center border-rounded">
				<div class="col-sm-12">
					<h5 class="font-weight-bold">仕入れテーブル</h5>
				</div>
			</div>
			<table id="table-article" class="table table-striped table-bordered table-hover text-center">
			    <thead class="thead-dark">
			      <tr>
			        <th>商品Id</th>
	        		<th>商品仕入れ日</th>
	        		<th>商品仕入れ数</th>
	        		<th>商品タイトル</th>
	        		<th>1点あたり商品仕入れ値段</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<tr data-th-each="purchase : ${purchaselist}">
			    		<td th:text="${purchase.articleId}"></td>
			    		<td th:text="${purchase.purchaseDate}"></td>
			    		<td th:text="${purchase.purchaseQty}"></td>
			    		<td th:text="${purchase.title}"></td>
			    		<td th:text="${purchase.purchasePrice}"></td>

			    </tbody>
		    </table>
		    <div class="row text-center">
				<div class="col-sm-12">
					<h6 >この商品の今までの仕入れ数と仕入れ日、仕入れ値段など確認できます。</h6>
				</div>
			</div>
		  </div>
    	</div>


    <div class="container page-content ">
    	<div class="shadow-lg p-4 mb-5 bg-white rounded">
			<div class="row text-center">
				<div class="col-sm-12">
					<h5 class="font-weight-bold">注文テーブル</h5>
				</div>
			</div>
			<table id="table-article" class="table table-striped table-bordered table-hover text-center ">
			    <thead class="thead-dark">
			      <tr >
			        <th>商品Id</th>
	        		<th>注文日</th>
	        		<th>注文数</th>
	        		<th>1点あたり売り値段</th>
	        		<th>合計売り値段</th>

			      </tr>
			    </thead>
			    <tbody>
			    	<tr data-th-each="sale : ${salelist}">
			    		<td th:text="${sale.articleId}"></td>
			    		<td th:text="${sale.orderDate}"></td>
			    		<td th:text="${sale.qty}"></td>
			    		<td th:text="${articlePrice}"></td>
			    		<td th:with="var=${articlePrice * sale.qty}" th:text="${var}"></td>
			    </tbody>
		    </table>
		    <div class="row text-center">
				<div class="col-sm-12">
					<h6 >この商品の今までの売れた数と合計売上と注文日など確認できます。</h6>
				</div>
			</div>
		</div>
	<div class="shadow-lg p-4 mb-5 bg-white rounded">
		<div class="row text-center">
			<div class="col-sm-12 ">
				<h5 class="font-weight-bold">棚卸テーブル</h5>
			</div>
		</div>
		<table id="table-article" class="table table-striped table-bordered table-hover text-center ">
		    <thead class="thead-dark">
		      <tr >
		        <th>商品Id</th>
        		<th>棚卸日</th>
        		<th>システムの在庫数</th>
        		<th>棚卸後在庫数</th>

		      </tr>
		    </thead>
		    <tbody>
		    	<tr data-th-each="inventory : ${inventoryList}">
		    		<td th:text="${inventory.articleId}"></td>
		    		<td th:text="${inventory.endDate}"></td>
		    		<td th:text="${inventory.qtyRemaining}"></td>
		    		<td th:text="${inventory.tanaoroshizaiko}"></td>
		    		<!-- <td th:with="var=${articlePrice * sale.qty}" th:text="${var}"></td> -->
		    </tbody>
	    </table>
	    <div class="row text-center">
			<div class="col-sm-12">
				<h6 >この商品の棚卸情報確認できます。</h6>
			</div>
		</div>
	</div>

	<div class="shadow-lg p-4 mb-5 bg-white rounded">
	    <div class="row bg-white text-white border rounded">
		    <div class="col-sm-2 mt-4 mb-4 ml-3 text-center border rounded" style="background-color:#196C60">
		      <h4 class="mt-3">合計仕入れ数</h4>
		      <h3 th:text="${totalqtypurchased}"></h3>
		    </div>
			<div class="col-sm-3 mt-4 mb-4 ml-3 text-center border rounded" style="background-color:#196C60">
	      		<h4 class="mt-3">合計売り上げ数</h4>
	      		<h3 th:text="${totalqtysold}"></h3>
			</div>
			<div class="col-sm-3 mt-4 mb-4 ml-3 text-center border rounded" style="background-color:#196C60">
	      		<h4 class="mt-3">現在在庫数</h4>
	      		<h3 th:with="var=${totalqtypurchased - totalqtysold}" th:text="${var}"></h3>
			</div>
			<div class="col-sm-3 mt-4 mb-4 ml-3 text-center border rounded" style="background-color:#196C60">
	      		<h4 class="mt-3">棚卸</h4>
<!-- 	      		<div data-th-each="inventory : ${inventoryList}">
		      		<a class="btn btn-warning mb-2 font-weight-bold" th:href="@{/inventory/new?articleId=}+${inventory.articleId}">今月の棚卸をする</a>
	      		</div> -->
			</div>
		</div>
	</div>

    </div>

     <div class="container contact bg-light mt-4 mb-4 border rounded text-dark">
     	<div class="shadow-lg p-4 mt-2 mb-2 bg-white rounded">
			<div class="row align-items-center" >
				<div class="col-md-3 border rounded" style="background-color: #008B8B;">
					<div class="contact-info text-light mt-2 mb-2">
						<h3>新規棚卸</h3>
					</div>
				</div>
				<div class="col-md-9 mt-4 mb-4">
					<form th:action="@{/inventory/new-form}" th:object="${inventory}" method="post" enctype="multipart/form-data">
						<div class="contact-form " >
							<div class="form-group ">
							  <label class="control-label col-sm-4">商品ID</label>
							  <div class="col-sm-10">
							  		<input type="text" th:field="*{articleId}" >
							  </div>
							</div>
							<div class="form-group">
							  <label class="control-label col-sm-4" >棚卸日(yyyy-MM-dd)</label>
							  <div class="col-sm-10">

							  	<!-- INPUT2 -->
								<input th:field="*{endDate}" type="text" class="form-control" placeholder="締め日を入力してください" >
							  </div>
							</div>

							<div class="form-group ">
							  <label class="control-label col-sm-4">棚卸在庫数</label>
							  <div class="col-sm-10">

							  	<!-- INPUT1 -->
								<input th:field="*{tanaoroshizaiko}" type="text" class="form-control" placeholder="開始日を入力してください">
							  </div>
							</div>

							<div class="form-group ">
							  <label class="control-label col-sm-4">システムの在庫数</label>
							  <div class="col-sm-10">

							  	<!-- INPUT1 -->
								<input th:field="*{qtyRemaining}" type="text" class="form-control" placeholder="システムの在庫数を入力してください">
							  </div>
							</div>

							<div class="form-group ">
							  <label class="control-label col-sm-4">理由</label>
							  <div class="col-sm-10">

							  	<!-- INPUT1 -->
								<input th:field="*{reason}" type="text" class="form-control" placeholder="理由を入力してください">
							  </div>
							</div>

							<div class="form-group">
							  <div class="col-sm-offset-2 col-sm-10 text-center">
								<button type="submit" class="btn btn-outline-secondary">棚卸する</button>
							  </div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


    <div th:replace="common/header :: body-scripts"> </div>

</body>
</html>